#container{
	width: 100%;
	padding: 35px;
	margin: auto;
}

#footer{
	padding-left: 35px;
}

#donationTable tr:hover {
        background-color: rgba(38, 38, 38, .05);
}

/* unvisited link */
a:link {
	
}

/* visited link */
a:visited {

}

/* mouse over link */
a:hover {
	text-decoration: underline;
}

/* selected link */
a:active {
    color: white;
}

table tr td{
    padding: 5px;
}

